.signInSpace1 {
	position: absolute;
	top: 65px;
	left: 562px;
	width: 362px;
	height: 660px;
	background: transparent;
}
.signInText {
	margin: 10px;
	font-size: 35px;
	font-family: "Arial";
	color: #E8E8E8;
}
.fullNameInput {
	width: 340px;
	height: 49px;
	border-radius: 15px;
	background: transparent;
	margin: 10px;
	border: 1px solid #E8E8E8;
	color: #E8E8E8;
	background: url("./fullNameBackground.png");
}
.birthDateInput {
	width: 340px;
	height: 49px;
	border-radius: 15px;
	background: transparent;
	margin: 10px;
	border: 1px solid #E8E8E8;
	color: #E8E8E8;
	background: url("./birthDate.png");
}
.emailInput {
	width: 340px;
	height: 49px;
	border-radius: 15px;
	background: transparent;
	margin: 10px;
	border: 1px solid #E8E8E8;
	color: #E8E8E8;
	background: url("./emailBackground.png");
}
.passwordInput {
	width: 340px;
	height: 49px;
	border-radius: 15px;
	background: transparent;
	margin: 10px;
	border: 1px solid #E8E8E8;
	color: #E8E8E8;
	background: url("./passwordBackground.png");
}
.confirm {
	width: 340px;
	height: 49px;
	border-radius: 15px;
	background: transparent;
	margin: 10px;
	border: 1px solid #E8E8E8;
	color: #E8E8E8;
	background: url("./confirmBackground.png");
}
.hiddingElement {
	opacity: 0;
}
.hiddingElement2 {
	opacity: 0;
}
.hiddingElement3 {
	opacity: 0;
}
.hiddingElement4 {
	opacity: 0;
}

.signInButton {
	width: 104px;
	height: 38px;
	border-radius: 15px;
	background: #E8E8E8;
	opacity: 0.75;
	border: 1px solid #E8E8E8;
}
.orText {
	font-size: 16px;
	font-family: "Arial";
	color: #E8E8E8;
}
.googleSignIn {
	width: 104px;
	height: 35px;
	border-radius: 22px;
	background: #E8E8E8;
	background: url("./google.png");
}
.dontHavingAnAccountText {
	font-size: 16px;
	font-family: "Arial";
	color: #E8E8E8;
}
.createNewOneText {
	font-size: 16px;
	font-family: "Arial";
	color: #6EE481;
}
